services:
  backend-api:
    image: morzevichka/dating-route-backend-api:latest
    container_name: backend-api
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DB_URL=jdbc:postgresql://database:5432
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - AI_BACKEND_KEY=${AI_BACKEND_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - FRONTEND_SERVICE_URL=https://dating-route.ddns.net
      - AI_SERVICE_URL=http://ai:8082
      - MAP_SERVICE_URL=http://map:8083
    ports:
      - "127.0.0.1:8081:8081"
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081"]
      interval: 1m
      timeout: 30s
      retries: 3

  ai:
    image: morzevichka/dating-route-ai:latest
    container_name: ai
    environment:
      - AI_SECRET_KEY=${AI_SECRET_KEY}
      - AI_BACKEND_KEY=${AI_BACKEND_KEY}
      - MAX_TOKENS_RESPONSE=2048
    command: "--host 0.0.0.0 --port 8082"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/api/health"]
      interval: 1m
      timeout: 30s
      retries: 3

  map:
    image: morzevichka/dating-route-map:latest
    container_name: map
    environment:
      - GEOCODER_KEY=${GEOCODER_KEY}
      - GEOSUGGEST_KEY=${GEOSUGGEST_KEY}
      - YANDEX_MAPS_API_KEY=${YANDEX_MAPS_API_KEY}
    command: "--host 0.0.0.0 --port 8083"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/api/health"]
      interval: 1m
      timeout: 30s
      retries: 3
  
  frontend:
    image: morzevichka/dating-route-frontend:latest
    container_name: frontend 
    depends_on:
      - backend-api
    ports:
      - "127.0.0.1:8080:8080"
    networks:
      - app-network
    
  database:
    image: postgres:17-alpine
    container_name: database
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USERNAME}"]
      interval: 10s 
      timeout: 5s
      retries: 3

  cache:
    image: redis:8.2-alpine
    container_name: redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --save 20 1 --requirepass $REDIS_PASSWORD
    volumes:
      - cache:/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 10s 
      timeout: 5s
      retries: 3
    
volumes:
  pgdata:
  cache:

networks:
  app-network:
    driver: bridge
