name: Frontend CI
on:
  push:
    branches:
      - main
    paths:
      - "Frontend/**"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'Frontend/**'

jobs:
  build:
    runs-on: ubuntu-22.04
    name: Build Frontend Application
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          cd Frontend
          npm install

      - name: Build Frontend
        run: |
          cd Frontend
          npm run build

  build-image:
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    name: Build Docker Image
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: Frontend
          platforms: linux/amd64
          push: true
          file: Frontend/Dockerfile
          tags: ${{ secrets.DOCKER_USERNAME }}/dating-route-frontend:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/dating-route-frontend:latest